samples/all-samples.json
[{"type":"tab","id":"1274208a.35c57f","label":"Connect"},{"type":"tab","id":"62a84dce.456514","label":"Run-Stop-Wait"},{"type":"tab","id":"e3fce6d2.8d9798","label":"Create Object"},{"type":"tab","id":"92ab9082.ff0fc","label":"Current Zone"},{"type":"tab","id":"d2951b63.9c9bc8","label":"Dump Config"},{"type":"tab","id":"b4215571.bf7758","label":"Filter Job"},{"type":"tab","id":"38a03f3d.e3f98","label":"Get Items"},{"type":"tab","id":"ad08ca52.d4bb48","label":"Get Object"},{"type":"tab","id":"abc9f77f.579468","label":"Item History"},{"type":"tab","id":"4750114c.6dae3","label":"Message Queue"},{"type":"tab","id":"9b532782.baf7f8","label":"Delete Object"},{"type":"tab","id":"4d03ba48.cc5924","label":"Robot"},{"type":"tab","id":"7e46f74b.4c95a8","label":"Cross-Reads"},{"id":"85c4ee39.3a5aa","type":"subflow","name":"Send Output ","info":"","in":[{"x":50,"y":30,"wires":[{"id":"977e5fda.7fe4c"}]}],"out":[]},{"id":"355c2ce.04bcad4","type":"itemsense-instance","z":"","url":"http://sandbox.solutions.impinj.net/itemsense","user":"","password":""},{"id":"bc77b7c2.a46288","type":"websocket-listener","z":"","path":"/ws/items","wholemsg":"false"},{"id":"a36fac97.86be5","type":"websocket-listener","z":"","path":"/ws/queue","wholemsg":"false"},{"id":"2cb4c87e.ed6498","type":"upnp-instance","z":"4d03ba48.cc5924","port":"8090","prefix":"/upnp","domain":"schemas-impinj-com","serviceType":"SVLRobot","serviceVersion":"1"},{"id":"3517c937.e6c6e6","type":"itemsense-instance","z":"","url":"http://svl.impinj.com/itemsense","user":"","password":""},{"id":"cf8047b3.bd1178","type":"itemsense-instance","z":"","url":"http://intelligentinsights.sandbox.itemsense.impinj.net/itemsense","user":"","password":""},{"id":"cfb40f71.6a172","type":"inject","z":"1274208a.35c57f","name":"SVL","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":320,"wires":[["15d15ea0.f0ec21"]]},{"id":"15d15ea0.f0ec21","type":"connect","z":"1274208a.35c57f","itemsense":"","name":"SVL","x":510,"y":220,"wires":[["5d533d22.b52d14"],["240852f1.70b36e"]]},{"id":"8b5eafc9.c862e","type":"debug","z":"1274208a.35c57f","name":"","active":true,"console":"false","complete":"true","x":930,"y":200,"wires":[]},{"id":"240852f1.70b36e","type":"debug","z":"1274208a.35c57f","name":"","active":true,"console":"false","complete":"true","x":870,"y":260,"wires":[]},{"id":"8735ea7d.ffa5d8","type":"catch","z":"1274208a.35c57f","name":"","scope":null,"x":640,"y":100,"wires":[["5d533d22.b52d14"]]},{"id":"ae8aede8.a996e","type":"http in","z":"1274208a.35c57f","name":"","url":"/connect","method":"post","swaggerDoc":"","x":130,"y":240,"wires":[["15d15ea0.f0ec21"]]},{"id":"1fe23eed.726ef1","type":"http response","z":"1274208a.35c57f","name":"","x":950,"y":80,"wires":[]},{"id":"5d533d22.b52d14","type":"switch","z":"1274208a.35c57f","name":"","property":"req","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":790,"y":160,"wires":[["1fe23eed.726ef1"],["8b5eafc9.c862e"]]},{"id":"b2e410be.67ad1","type":"function","z":"1274208a.35c57f","name":"populate Credentials","func":"msg.payload={\n    \"itemsenseUrl\":\"http://sandbox.solutions.impinj.net/itemsense\",\n    \"username\":\"\",\n    \"password\":\"\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["15d15ea0.f0ec21"]]},{"id":"94b2908b.7f155","type":"inject","z":"e3fce6d2.8d9798","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":80,"wires":[["4131243a.2b84ec"]]},{"id":"4131243a.2b84ec","type":"connect","z":"e3fce6d2.8d9798","itemsense":"","name":"","x":300,"y":140,"wires":[["18802168.88542f"],[]]},{"id":"ddd3ef33.7e8d4","type":"create-object","z":"e3fce6d2.8d9798","name":"","objectType":"recipes","x":620,"y":320,"wires":[["7cedde08.ac0ea"],[]]},{"id":"76bd95c6.7e55ec","type":"http response","z":"85c4ee39.3a5aa","name":"","x":370,"y":40,"wires":[]},{"id":"53e3b573.731d4c","type":"debug","z":"85c4ee39.3a5aa","name":"","active":true,"console":"false","complete":"true","x":360,"y":160,"wires":[]},{"id":"7cedde08.ac0ea","type":"subflow:85c4ee39.3a5aa","z":"e3fce6d2.8d9798","x":810,"y":160,"wires":[]},{"id":"83664128.2bb44","type":"catch","z":"e3fce6d2.8d9798","name":"","scope":null,"x":640,"y":100,"wires":[["7cedde08.ac0ea"]]},{"id":"eab393d6.2a781","type":"http in","z":"e3fce6d2.8d9798","name":"","url":"/update","method":"get","swaggerDoc":"","x":130,"y":220,"wires":[["4131243a.2b84ec"]]},{"id":"7f4d2d01.bd4bb4","type":"inject","z":"92ab9082.ff0fc","name":"Facility: Arlington","topic":"","payload":"{\"facility\":\"Arlington\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":40,"wires":[["af3e3fd1.c280e"]]},{"id":"af3e3fd1.c280e","type":"connect","z":"92ab9082.ff0fc","itemsense":"","name":"","x":360,"y":140,"wires":[["54eba2f1.164a6c"],[]]},{"id":"d6ab8ca7.8fb38","type":"catch","z":"92ab9082.ff0fc","name":"","scope":null,"x":620,"y":60,"wires":[["e1dbfb14.149908"]]},{"id":"e1dbfb14.149908","type":"subflow:85c4ee39.3a5aa","z":"92ab9082.ff0fc","x":790,"y":140,"wires":[]},{"id":"7546b676.865ef8","type":"http in","z":"92ab9082.ff0fc","name":"","url":"/curzone","method":"post","swaggerDoc":"","x":110,"y":240,"wires":[["af3e3fd1.c280e"]]},{"id":"5a040b4e.3bb9d4","type":"inject","z":"d2951b63.9c9bc8","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":80,"wires":[["87b1afc0.44098"]]},{"id":"df1946b1.3381e8","type":"dump-config","z":"d2951b63.9c9bc8","name":"","dumpMode":"running","x":480,"y":320,"wires":[["e367b63c.1d2d88"],[]]},{"id":"e367b63c.1d2d88","type":"subflow:85c4ee39.3a5aa","z":"d2951b63.9c9bc8","name":"","x":690,"y":220,"wires":[]},{"id":"ab998184.a7491","type":"catch","z":"d2951b63.9c9bc8","name":"","scope":null,"x":560,"y":120,"wires":[["e367b63c.1d2d88"]]},{"id":"aa317a9b.3a09c8","type":"http in","z":"d2951b63.9c9bc8","name":"","url":"/dump","method":"get","swaggerDoc":"","x":100,"y":260,"wires":[["87b1afc0.44098"]]},{"id":"87b1afc0.44098","type":"connect","z":"d2951b63.9c9bc8","itemsense":"","name":"","x":320,"y":180,"wires":[["df1946b1.3381e8"],[]]},{"id":"630cc722.536d78","type":"inject","z":"b4215571.bf7758","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":60,"wires":[["712acf25.1bd4e"]]},{"id":"712acf25.1bd4e","type":"connect","z":"b4215571.bf7758","itemsense":"","name":"","x":280,"y":120,"wires":[["b492c698.e4cf08"],[]]},{"id":"b492c698.e4cf08","type":"filter-jobs","z":"b4215571.bf7758","name":"","jobStatus":"RUNNING","outputMode":"single","x":490,"y":180,"wires":[["986bfef6.0dab3"],[]]},{"id":"de875cea.2f91b","type":"catch","z":"b4215571.bf7758","name":"","scope":null,"x":500,"y":80,"wires":[["986bfef6.0dab3"]]},{"id":"986bfef6.0dab3","type":"subflow:85c4ee39.3a5aa","z":"b4215571.bf7758","x":660,"y":120,"wires":[]},{"id":"5111a82a.993b28","type":"http in","z":"b4215571.bf7758","name":"","url":"/filter","method":"get","swaggerDoc":"","x":120,"y":220,"wires":[["712acf25.1bd4e"]]},{"id":"ab340f.6a921bf","type":"inject","z":"38a03f3d.e3f98","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":280,"wires":[["2987bb94.8a5404"]]},{"id":"2987bb94.8a5404","type":"connect","z":"38a03f3d.e3f98","itemsense":"","name":"","x":280,"y":340,"wires":[["d0b54a68.0475c8"],[]]},{"id":"d0b54a68.0475c8","type":"get-items","z":"38a03f3d.e3f98","name":"","epcFilter":"","repeat":"Indefinitely","count":"3","interval":"10","x":500,"y":260,"wires":[["893fd1ff.a54a3"],["cd748a5b.64d378"]]},{"id":"2d11a602.5c9f7a","type":"catch","z":"38a03f3d.e3f98","name":"","scope":null,"x":520,"y":100,"wires":[["893fd1ff.a54a3"]]},{"id":"aedb8b7e.ebf498","type":"websocket in","z":"38a03f3d.e3f98","name":"","server":"bc77b7c2.a46288","client":"","x":110,"y":40,"wires":[["8c73e713.0dc138"]]},{"id":"cd748a5b.64d378","type":"debug","z":"38a03f3d.e3f98","name":"","active":true,"console":"false","complete":"true","x":660,"y":340,"wires":[]},{"id":"f649dd8b.db135","type":"inject","z":"38a03f3d.e3f98","name":"Stop","topic":"TerminateLoop","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":400,"wires":[["2987bb94.8a5404"]]},{"id":"977e5fda.7fe4c","type":"switch","z":"85c4ee39.3a5aa","name":"","property":"req","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":200,"y":100,"wires":[["76bd95c6.7e55ec"],["53e3b573.731d4c"]]},{"id":"4d8f6741.8cf278","type":"websocket out","z":"38a03f3d.e3f98","name":"","server":"bc77b7c2.a46288","client":"","x":870,"y":80,"wires":[]},{"id":"893fd1ff.a54a3","type":"switch","z":"38a03f3d.e3f98","name":"","property":"_session","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":690,"y":160,"wires":[["4d8f6741.8cf278"],["99346c82.18a48"]]},{"id":"99346c82.18a48","type":"debug","z":"38a03f3d.e3f98","name":"","active":true,"console":"true","complete":"true","x":830,"y":220,"wires":[]},{"id":"8c73e713.0dc138","type":"function","z":"38a03f3d.e3f98","name":"Stop Loop?","func":"if (msg.payload === \"stop\"){\n    msg.topic = \"TerminateLoop\";\n    return [msg,null];\n}\nreturn [null,msg];\n","outputs":"2","noerr":0,"x":210,"y":140,"wires":[["d0b54a68.0475c8"],["2987bb94.8a5404"]]},{"id":"7c0a573b.314088","type":"inject","z":"ad08ca52.d4bb48","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":100,"wires":[["74bbafc5.26866"]]},{"id":"74bbafc5.26866","type":"connect","z":"ad08ca52.d4bb48","itemsense":"","name":"","x":320,"y":200,"wires":[["6372e111.28ee8"],[]]},{"id":"6372e111.28ee8","type":"get-object","z":"ad08ca52.d4bb48","name":"","objectType":"users","outputMode":"single","x":540,"y":280,"wires":[["e7d9f94e.f3cdb8"],[]]},{"id":"d34e8654.1a3fb8","type":"catch","z":"ad08ca52.d4bb48","name":"","scope":null,"x":560,"y":160,"wires":[["e7d9f94e.f3cdb8"]]},{"id":"e7d9f94e.f3cdb8","type":"subflow:85c4ee39.3a5aa","z":"ad08ca52.d4bb48","x":740,"y":220,"wires":[]},{"id":"3c8f07f3.805228","type":"http in","z":"ad08ca52.d4bb48","name":"","url":"/get","method":"get","swaggerDoc":"","x":150,"y":300,"wires":[["74bbafc5.26866"]]},{"id":"19aee661.4e38ca","type":"inject","z":"abc9f77f.579468","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":160,"wires":[["2ed90154.a44f0e"]]},{"id":"2ed90154.a44f0e","type":"connect","z":"abc9f77f.579468","itemsense":"","name":"","x":340,"y":220,"wires":[["4448dfb3.c799c"],[]]},{"id":"4448dfb3.c799c","type":"item-history","z":"abc9f77f.579468","name":"","epcFilter":"","repeat":"None","count":"3","interval":"10","x":560,"y":280,"wires":[["16c850.5b7a77b1"],[]]},{"id":"16c850.5b7a77b1","type":"subflow:85c4ee39.3a5aa","z":"abc9f77f.579468","x":700,"y":200,"wires":[]},{"id":"8c083758.ff0d98","type":"catch","z":"abc9f77f.579468","name":"","scope":null,"x":540,"y":120,"wires":[["16c850.5b7a77b1"]]},{"id":"88507856.377988","type":"websocket out","z":"4750114c.6dae3","name":"","server":"a36fac97.86be5","client":"","x":790,"y":280,"wires":[]},{"id":"41625c71.9259e4","type":"connect","z":"4750114c.6dae3","itemsense":"","name":"","x":360,"y":300,"wires":[["b875b960.5d6258"],[]]},{"id":"e1f3f163.5795e","type":"websocket in","z":"4750114c.6dae3","name":"","server":"a36fac97.86be5","client":"","x":110,"y":60,"wires":[["f62365ca.b5e288"]]},{"id":"b875b960.5d6258","type":"queue-client","z":"4750114c.6dae3","name":"","fromZone":"","toZone":"","epc":"","x":560,"y":160,"wires":[["15150dbb.c510d2"],["88507856.377988"],[]]},{"id":"d53a5ec0.bdad3","type":"run-job","z":"4750114c.6dae3","name":"","itemsense":"","recipe":"RTLS_Locate_Test","runLength":"3000","startDelay":"PT0S","facility":"DEFAULT","x":1200,"y":240,"wires":[["8179e53.5f89018"],[],[]]},{"id":"ea24e1af.4e685","type":"inject","z":"62a84dce.456514","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210,"y":200,"wires":[["500dd325.aba0bc"]]},{"id":"500dd325.aba0bc","type":"connect","z":"62a84dce.456514","itemsense":"","name":"","x":400,"y":260,"wires":[["a9ac3715.16f128"],[]]},{"id":"f929ac1c.22079","type":"stop-job","z":"62a84dce.456514","name":"","x":720,"y":360,"wires":[["fa28258b.a8fe18"],[]]},{"id":"fa28258b.a8fe18","type":"wait-status","z":"62a84dce.456514","name":"","jobStatus":"STOPPED","timeout":10,"interval":1,"x":720,"y":480,"wires":[["a9ac3715.16f128"],[]]},{"id":"18802168.88542f","type":"function","z":"e3fce6d2.8d9798","name":"Sample Recipe","func":"msg.payload={\n    \"name\": \"Arlington_Copy\",\n    \"readerConfigurationName\": \"IMPINJ_LocationConfig_2\",\n    \"readerConfigurations\": {},\n    \"presencePipelineEnabled\": false,\n    \"locationReportingEnabled\": true,\n    \"zoneModel\": \"GEOGRAPHIC\",\n    \"minimumMovementInMeters\": 1, \n    \"locationUpdateIntervalInSeconds\": 5,\n    \"historyWindowSizeInCycles\": null,\n    \"computeWindowSizeInCycles\": null, \n    \"computeWindowTimeInSeconds\": 20, \n    \"locationAggegationModel\": \"BY_TIME\"   \n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["ddd3ef33.7e8d4"]]},{"id":"f62365ca.b5e288","type":"function","z":"4750114c.6dae3","name":"Stop Queue?","func":"if(msg.payload === \"stop\"){\n    msg.topic = \"CloseConnection\";\n    return [msg,null];\n}\nreturn [null,msg];","outputs":"2","noerr":0,"x":290,"y":140,"wires":[["b875b960.5d6258"],["41625c71.9259e4"]]},{"id":"15150dbb.c510d2","type":"filter-jobs","z":"4750114c.6dae3","name":"","jobStatus":"RUNNING","outputMode":"array","x":780,"y":160,"wires":[["1613377b.2f5619"],[]]},{"id":"1613377b.2f5619","type":"function","z":"4750114c.6dae3","name":"No Running Job?","func":"if(!msg.payload.length)\n    return msg;","outputs":1,"noerr":0,"x":970,"y":200,"wires":[["d53a5ec0.bdad3"]]},{"id":"92425dd9.0f3f9","type":"http in","z":"abc9f77f.579468","name":"","url":"/history","method":"get","swaggerDoc":"","x":120,"y":320,"wires":[["2ed90154.a44f0e"]]},{"id":"54eba2f1.164a6c","type":"current-zone","z":"92ab9082.ff0fc","name":"","zoneAction":"Get","x":580,"y":220,"wires":[["e1dbfb14.149908"],[]]},{"id":"a9ac3715.16f128","type":"run-job","z":"62a84dce.456514","name":"","itemsense":"","recipe":"Arlington_Location","runLength":"3000","startDelay":"PT0S","facility":"Arlington","x":720,"y":240,"wires":[["29c6956e.c0f1da"],["f929ac1c.22079"],[]]},{"id":"29c6956e.c0f1da","type":"wait-status","z":"62a84dce.456514","name":"","jobStatus":"RUNNING","timeout":10,"interval":1,"x":960,"y":160,"wires":[["9d4c63e.5c870a"],[]]},{"id":"9d4c63e.5c870a","type":"subflow:85c4ee39.3a5aa","z":"62a84dce.456514","x":1170,"y":220,"wires":[]},{"id":"311cd55d.42244a","type":"catch","z":"62a84dce.456514","name":"","scope":null,"x":980,"y":280,"wires":[["9d4c63e.5c870a"]]},{"id":"4fa43e07.362fb","type":"http in","z":"62a84dce.456514","name":"","url":"/runjob","method":"get","swaggerDoc":"","x":210,"y":380,"wires":[["500dd325.aba0bc"]]},{"id":"4f4b29e3.21e7a8","type":"inject","z":"9b532782.baf7f8","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":100,"wires":[["71fdb95e.79bcd8"]]},{"id":"71fdb95e.79bcd8","type":"connect","z":"9b532782.baf7f8","itemsense":"","name":"","x":280,"y":160,"wires":[["25ccad4.6ca5e52"],[]]},{"id":"54c809fa.87f2c8","type":"create-object","z":"9b532782.baf7f8","name":"","objectType":"recipes","x":580,"y":300,"wires":[["74824237.67567c"],["bac95a2c.782778"]]},{"id":"74824237.67567c","type":"delete-object","z":"9b532782.baf7f8","name":"","objectType":"recipes","x":780,"y":200,"wires":[["1ebd0731.b425c9"],[]]},{"id":"1ebd0731.b425c9","type":"subflow:85c4ee39.3a5aa","z":"9b532782.baf7f8","x":990,"y":140,"wires":[]},{"id":"4a91820a.23d48c","type":"catch","z":"9b532782.baf7f8","name":"","scope":null,"x":780,"y":100,"wires":[["1ebd0731.b425c9"]]},{"id":"25ccad4.6ca5e52","type":"function","z":"9b532782.baf7f8","name":"Sample Recipe","func":"msg.payload={\n    \"name\": \"Arlington_Sample\",\n    \"readerConfigurationName\": \"IMPINJ_LocationConfig_2\",\n    \"readerConfigurations\": {},\n    \"presencePipelineEnabled\": false,\n    \"locationReportingEnabled\": true,\n    \"zoneModel\": \"GEOGRAPHIC\",\n    \"minimumMovementInMeters\": 1, \n    \"locationUpdateIntervalInSeconds\": 5,\n    \"historyWindowSizeInCycles\": null,\n    \"computeWindowSizeInCycles\": null, \n    \"computeWindowTimeInSeconds\": 20, \n    \"locationAggegationModel\": \"BY_TIME\"   \n};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["54c809fa.87f2c8"]]},{"id":"bac95a2c.782778","type":"debug","z":"9b532782.baf7f8","name":"","active":true,"console":"false","complete":"true","x":750,"y":360,"wires":[]},{"id":"debac8aa.fb2828","type":"http in","z":"9b532782.baf7f8","name":"","url":"/delete","method":"get","swaggerDoc":"","x":100,"y":320,"wires":[["71fdb95e.79bcd8"]]},{"id":"99ffbae8.94b2d8","type":"robot-discover","z":"4d03ba48.cc5924","upnp":"2cb4c87e.ed6498","name":"","deviceSerial":"1248-0000-0000-0001","timeout":"10","x":220,"y":140,"wires":[["1f2abf9e.a6a6f","fafc0e6b.4e2d6"],["bbfa6e8c.d3d55"]]},{"id":"1f2abf9e.a6a6f","type":"debug","z":"4d03ba48.cc5924","name":"","active":false,"console":"false","complete":"true","x":528,"y":61,"wires":[]},{"id":"bbfa6e8c.d3d55","type":"debug","z":"4d03ba48.cc5924","name":"","active":false,"console":"false","complete":"true","x":530,"y":200,"wires":[]},{"id":"59dd5203.ab466c","type":"inject","z":"4d03ba48.cc5924","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":70,"y":40,"wires":[["99ffbae8.94b2d8"]]},{"id":"ad361c39.3a269","type":"inject","z":"7e46f74b.4c95a8","name":"Open Queue","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":360,"wires":[["8f953caf.d62c8"]]},{"id":"8f953caf.d62c8","type":"connect","z":"7e46f74b.4c95a8","itemsense":"","name":"","x":300,"y":400,"wires":[["ecb61569.943c38"],[]]},{"id":"ecb61569.943c38","type":"queue-client","z":"7e46f74b.4c95a8","name":"","fromZone":"","toZone":"","epc":"1ABE1C0DE000000000000002","x":500,"y":460,"wires":[["8f3a70ff.704b5"],["faa681fc.98b4e"],[]]},{"id":"ef5e717a.e8615","type":"run-job","z":"7e46f74b.4c95a8","name":"","itemsense":"","recipe":"Tilicum_MedMotion","runLength":"180","startDelay":"PT0S","facility":"400_floor12","x":1000,"y":420,"wires":[["534d8fda.6d272"],["5d1a6bb5.f136e4"],["5d1a6bb5.f136e4"]]},{"id":"2bf2c3a2.d0e34c","type":"create-object","z":"7e46f74b.4c95a8","name":"","objectType":"readerConfigurations","x":840,"y":40,"wires":[["9bf7a67f.023fe8"],[]]},{"id":"fb2c86c4.0347d8","type":"function","z":"7e46f74b.4c95a8","name":"Populate Reader Config","func":"msg.payload = {\n    \"name\": \"SVL_SPEEDWAY_2\",\n    \"operation\": \"NORMAL\",\n    \"configuration\": {\n      \"readerMode\": \"MODE_1002\",\n      \"searchMode\": \"DUAL_TARGET\",\n      \"session\": 2,\n\"transmitPowerInDbm\":26,\n\"tagPopulationEstimate\": 32,\n      \"antennas\": [\n        1,\n        4\n      ],\n    }\n  }\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":60,"wires":[["2bf2c3a2.d0e34c"]]},{"id":"f9f514bf.3733c8","type":"create-object","z":"7e46f74b.4c95a8","name":"","objectType":"recipes","x":1320,"y":60,"wires":[["303a81be.90f65e"],[]]},{"id":"9bf7a67f.023fe8","type":"function","z":"7e46f74b.4c95a8","name":"Populate Recipe","func":"var speedway={\n    \"name\": \"SVL_SPEEDWAY_ABSENT_TEST\",\n    \"readerConfigurationName\": null,\n    \"readerConfigurations\": {\n      \"Speedway-11-41-cc\": \"SVL_SPEEDWAY_2\"\n    },\n    \"presencePipelineEnabled\": true,\n    \"locationReportingEnabled\": false,\n    \"zoneModel\": \"GATEWAY\",\n  };\nvar recipe1003 = {\n    \"name\": \"SVL_SPEEDWAY_1003\",\n    \"readerConfigurationName\": null,\n    \"readerConfigurations\": {\n      \"xArray-101\": \"IMPINJ_1003\"\n    },\n    \"presencePipelineEnabled\": false,\n    \"locationReportingEnabled\": true,\n    \"zoneModel\": \"GEOLOCATION\",\n  };\nmsg.payload = recipe1003;  \nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":60,"wires":[["f9f514bf.3733c8"]]},{"id":"faa681fc.98b4e","type":"debug","z":"7e46f74b.4c95a8","name":"Show AMQP Messages","active":true,"console":"false","complete":"true","x":730,"y":480,"wires":[]},{"id":"1a977b85.8b8754","type":"inject","z":"7e46f74b.4c95a8","name":"Close Queue","topic":"CloseConnection","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":460,"wires":[["ecb61569.943c38"]]},{"id":"1eb650d7.f6379f","type":"inject","z":"7e46f74b.4c95a8","name":"Stop Running Job","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":580,"wires":[["bfc3a3e9.d9005"]]},{"id":"bfc3a3e9.d9005","type":"connect","z":"7e46f74b.4c95a8","itemsense":"","name":"","x":340,"y":620,"wires":[["34a44817.979708"],[]]},{"id":"34a44817.979708","type":"filter-jobs","z":"7e46f74b.4c95a8","name":"","jobStatus":"WAITING","outputMode":"single","x":520,"y":680,"wires":[["46317a6a.16e1a4"],[]]},{"id":"6d28078c.5659a8","type":"stop-job","z":"7e46f74b.4c95a8","name":"","x":940,"y":640,"wires":[["f5d5b51d.127d68"],[]]},{"id":"46317a6a.16e1a4","type":"function","z":"7e46f74b.4c95a8","name":"Select Job To Stop","func":"if(!msg.payload.job)\nreturn;\n    msg.payload={\n        id:msg.payload.job.id\n    }\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":720,"wires":[["6d28078c.5659a8"]]},{"id":"f5d5b51d.127d68","type":"debug","z":"7e46f74b.4c95a8","name":"","active":true,"console":"false","complete":"true","x":1110,"y":660,"wires":[]},{"id":"ba8e5116.1bb33","type":"inject","z":"7e46f74b.4c95a8","name":"two antenna reader","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":40,"wires":[["43b32e23.f0612"]]},{"id":"303a81be.90f65e","type":"debug","z":"7e46f74b.4c95a8","name":"","active":true,"console":"false","complete":"true","x":1490,"y":80,"wires":[]},{"id":"9eb8749b.036418","type":"create-object","z":"7e46f74b.4c95a8","name":"","objectType":"readerConfigurations","x":840,"y":100,"wires":[["9bf7a67f.023fe8"],[]]},{"id":"4c2847a1.c3b618","type":"function","z":"7e46f74b.4c95a8","name":"Populate Reader Config","func":"var speedway = {\n    \"name\": \"SVL_SPEEDWAY\",\n    \"operation\": \"NORMAL\",\n    \"configuration\": {\n      \"readerMode\": \"MODE_1002\",\n      \"searchMode\": \"DUAL_TARGET\",\n      \"session\": 2,\n      \"tagPopulationEstimate\": 32,\n      \"antennas\": [\n        1\n      ],\n    }\n  }\nvar xArray1003 ={\n    \"name\": \"IMPINJ_1003\",\n    \"operation\": \"NORMAL\",\n    \"configuration\": {\n      \"readerMode\": \"MODE_1003\",\n      \"searchMode\": \"DUAL_TARGET\",\n      \"session\": 2,\n      \"tagPopulationEstimate\": 20,\n//      \"transmitPowerInDbm\": null,\n//      \"antennaDwellTimeInMs\": null,\n//      \"tagNak\": null,\n//      \"polarization\": null,\n      \"antennas\": [\n        45,\n        16,\n        35,\n        14,\n        49,\n        36,\n        2,\n        31,\n        18,\n        29,\n        48,\n        19,\n        46,\n        3,\n        33,\n        52,\n        15,\n        50,\n        13,\n        32,\n        1,\n        51,\n        30,\n        17,\n        47,\n        20,\n        34,\n        4\n      ]\n//      ,\n//      \"filter\": null,\n//      \"channelConfig\": null,\n//      \"reportConfig\": null\n    }\n  };\n  msg.payload = xArray1003\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["9eb8749b.036418"]]},{"id":"7cfc0fa5.b1e79","type":"inject","z":"7e46f74b.4c95a8","name":"One antenna reader","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":140,"wires":[["61821f23.45bfe"]]},{"id":"61821f23.45bfe","type":"connect","z":"7e46f74b.4c95a8","itemsense":"","name":"","x":360,"y":140,"wires":[["4c2847a1.c3b618"],[]]},{"id":"43b32e23.f0612","type":"connect","z":"7e46f74b.4c95a8","itemsense":"","name":"","x":360,"y":40,"wires":[["fb2c86c4.0347d8"],[]]},{"id":"53a15a47.461a04","type":"inject","z":"7e46f74b.4c95a8","name":"Update Reader Def","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":240,"wires":[["24112531.85c73a"]]},{"id":"24112531.85c73a","type":"connect","z":"7e46f74b.4c95a8","itemsense":"","name":"","x":340,"y":240,"wires":[["b80d32f4.272b4"],[]]},{"id":"31bb846e.ec400c","type":"debug","z":"7e46f74b.4c95a8","name":"","active":true,"console":"false","complete":"true","x":1090,"y":240,"wires":[]},{"id":"b80d32f4.272b4","type":"function","z":"7e46f74b.4c95a8","name":"Populate Reader Def","func":"var julie= { \"name\": \"Speedway-11-41-cc\", \n\"address\": \"speedwayr-11-41-cc.impinj.com\",\n\"type\": \"SPEEDWAY\", \n\"connectionType\": \"LLRP\",\n\"placement\": { \"x\": 3.28092316734645,\n\"y\": -8.140544966592497,\n\"z\": 1.8,\n\"yaw\": 0,\n\"pitch\": 0,\n\"roll\": 0,\n\"floor\": \"12\" },\n\"facility\": \"DEFAULT\",\n\"labels\": null,\n\"antennaZones\": {\n    \"1\":\"antenna1\", \"2\":\"antenna2\", 3:\"antenna3\", 4:\"antenna4\"\n} \n}\n\nvar reza= {\n    \"name\": \"Speedway-10-36-88\",\n    \"address\": \"speedwayr-10-36-88.impinj.com\",\n    \"type\": \"SPEEDWAY\",\n    \"connectionType\": \"LLRP\",\n    \"placement\": {\n      \"x\": 3.28092316734645,\n      \"y\": -8.140544966592497,\n      \"z\": 1.8,\n      \"yaw\": 0,\n      \"pitch\": 0,\n      \"roll\": 0,\n      \"floor\": \"12\"\n    },\n    \"facility\": \"DEFAULT\",\n    \"labels\": null,\n    \"readerZone\": \"speedway-10-36-88\",\n    \"antennaZones\": {\n      \"1\": \"antenna1\",\n      \"2\": \"antenna2\",\n      \"3\": \"antenna3\"\n    }\n  }\n  msg.payload = reza\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["c1a7449c.ba4ac8"]]},{"id":"c1a7449c.ba4ac8","type":"create-object","z":"7e46f74b.4c95a8","name":"","objectType":"readerDefinitions","x":850,"y":200,"wires":[["31bb846e.ec400c"],[]]},{"id":"8f3a70ff.704b5","type":"function","z":"7e46f74b.4c95a8","name":"Populate Job Options","func":"if(msg.topic===\"CloseConnection\")\n    return;\nmsg.payload = {\n    \"playbackLoggingEnabled\":true\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":380,"wires":[["ef5e717a.e8615"]]},{"id":"5d1a6bb5.f136e4","type":"debug","z":"7e46f74b.4c95a8","name":"","active":true,"console":"false","complete":"true","x":1290,"y":460,"wires":[]},{"id":"534d8fda.6d272","type":"wait-status","z":"7e46f74b.4c95a8","name":"","jobStatus":"RUNNING","timeout":10,"interval":1,"x":1220,"y":360,"wires":[["5d1a6bb5.f136e4"],[]]},{"id":"7d766c05.253c94","type":"delete-object","z":"7e46f74b.4c95a8","name":"","objectType":"readerDefinitions","x":850,"y":280,"wires":[["31bb846e.ec400c"],[]]},{"id":"fafc0e6b.4e2d6","type":"move-robot","z":"4d03ba48.cc5924","name":"","distance":"2500","x":310,"y":320,"wires":[["b25bcc7.d0b7f3","11e5ee20.5fc292"],["92d417a8.882a08"]]},{"id":"6dbc8712.776098","type":"debug","z":"4d03ba48.cc5924","name":"","active":false,"console":"false","complete":"true","x":670,"y":260,"wires":[]},{"id":"b25bcc7.d0b7f3","type":"debug","z":"4d03ba48.cc5924","name":"","active":false,"console":"false","complete":"true","x":490,"y":380,"wires":[]},{"id":"ff995aa2.da0958","type":"debug","z":"4d03ba48.cc5924","name":"","active":true,"console":"false","complete":"true","x":670,"y":340,"wires":[]},{"id":"92d417a8.882a08","type":"debug","z":"4d03ba48.cc5924","name":"","active":true,"console":"false","complete":"true","x":430,"y":440,"wires":[]},{"id":"aa660773.03e648","type":"catch","z":"4d03ba48.cc5924","name":"","scope":null,"x":596.5,"y":448,"wires":[["7008f8dc.e33e68"]]},{"id":"7008f8dc.e33e68","type":"debug","z":"4d03ba48.cc5924","name":"","active":true,"console":"false","complete":"true","x":705,"y":401,"wires":[]},{"id":"11e5ee20.5fc292","type":"turn-robot","z":"4d03ba48.cc5924","name":"","angle":"180","x":512.5,"y":294,"wires":[["6dbc8712.776098"],["ff995aa2.da0958"]]},{"id":"2696c86.304f138","type":"robot-status","z":"4d03ba48.cc5924","name":"","x":209.5,"y":391,"wires":[["b25bcc7.d0b7f3"],["92d417a8.882a08"]]},{"id":"5641798a.db09f8","type":"inject","z":"7e46f74b.4c95a8","name":"Start Job","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":484.5,"y":328,"wires":[["8f3a70ff.704b5"]]},{"id":"ba16b934.e32de8","type":"inject","z":"7e46f74b.4c95a8","name":"Dump Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.5,"y":725,"wires":[["25b3c2a9.a9beee"]]},{"id":"25b3c2a9.a9beee","type":"connect","z":"7e46f74b.4c95a8","itemsense":"","name":"","x":271.5,"y":786,"wires":[["212a2cdf.7a92a4"],[]]},{"id":"948bfef1.4d2ed","type":"dump-config","z":"7e46f74b.4c95a8","name":"","dumpMode":"running","x":632.5,"y":937,"wires":[["fa308ed2.b665","9d8de9af.e09c68"],[]]},{"id":"fa308ed2.b665","type":"debug","z":"7e46f74b.4c95a8","name":"","active":true,"console":"false","complete":"true","x":868.5,"y":859,"wires":[]},{"id":"1428b66.c11614a","type":"http in","z":"7e46f74b.4c95a8","name":"","url":"/dumprun","method":"get","swaggerDoc":"","x":115.5,"y":865,"wires":[["25b3c2a9.a9beee"]]},{"id":"9d8de9af.e09c68","type":"subflow:85c4ee39.3a5aa","z":"7e46f74b.4c95a8","x":886.5,"y":806,"wires":[]},{"id":"212a2cdf.7a92a4","type":"function","z":"7e46f74b.4c95a8","name":"Set JobId","func":"msg.payload={\n    id:\"91612611-7fac-49df-bcc3-7658de7d0ea7\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":473.5,"y":842,"wires":[["948bfef1.4d2ed"]]},{"id":"f1f9505.ba226b","type":"connect","z":"1274208a.35c57f","itemsense":"","name":"Bryan","x":510,"y":280,"wires":[["5d533d22.b52d14"],["240852f1.70b36e"]]},{"id":"62ec2159.b02f8","type":"connect","z":"1274208a.35c57f","itemsense":"","name":"IIS","x":510,"y":340,"wires":[["5d533d22.b52d14"],["240852f1.70b36e"]]},{"id":"de0547c1.5b2588","type":"inject","z":"1274208a.35c57f","name":"Dynamic Instance","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":100,"wires":[["b2e410be.67ad1"]]},{"id":"7ead78a.c82ad88","type":"inject","z":"1274208a.35c57f","name":"Arlington","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":380,"wires":[["f1f9505.ba226b"]]},{"id":"48a26540.5b559c","type":"inject","z":"1274208a.35c57f","name":"Intelligent Insites","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":440,"wires":[["62ec2159.b02f8"]]},{"id":"8179e53.5f89018","type":"debug","z":"4750114c.6dae3","name":"","active":true,"console":"false","complete":"true","x":1370,"y":160,"wires":[]},{"id":"7246e73e.2fda08","type":"filter-jobs","z":"7e46f74b.4c95a8","name":"","jobStatus":"ANY","outputMode":"array","x":350,"y":940,"wires":[["79ae103c.f3222"],[]]},{"id":"79ae103c.f3222","type":"function","z":"7e46f74b.4c95a8","name":"","func":"var jobs = msg.payload;\njobs.forEach(function(job){\n    if(job.id === \"f7f0b696-0ab8-4577-b984-8a8c34812dcb\")\n        msg.payload=job;\n});\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1020,"wires":[["fa308ed2.b665"]]}]
