samples/all-samples.json
[{"type":"tab","id":"38e6af12.001dc","label":"Run-Stop-Wait"},{"type":"tab","id":"2c5cd90c.dcb196","label":"Create Object"},{"type":"tab","id":"77daac7b.e6cf84","label":"Current Zone"},{"type":"tab","id":"d6c84b85.c86278","label":"Dump Config"},{"type":"tab","id":"9f5c9583.124388","label":"Filter Job"},{"type":"tab","id":"fd0aa649.598a28","label":"Get Items"},{"type":"tab","id":"98116a44.1f0c78","label":"Get Object"},{"type":"tab","id":"c44f3f3a.50a9b","label":"Item History"},{"type":"tab","id":"80b8b70.fee3348","label":"Message Queue"},{"type":"tab","id":"a1b64e22.3807f","label":"Delete Object"},{"id":"dc45a57b.c00e88","type":"subflow","name":"Send Output ","info":"","in":[{"x":50,"y":30,"wires":[{"id":"b4b96444.ad7968"}]}],"out":[]},{"id":"b958cc9a.c8fcb","type":"websocket-listener","z":"","path":"/ws/items","wholemsg":"false"},{"id":"fe3c91c1.e3249","type":"websocket-listener","z":"","path":"/ws/queue","wholemsg":"false"},{"id":"5f505bdd.f3d384","type":"inject","z":"2c5cd90c.dcb196","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":80,"wires":[["5753fcb2.2b19f4"]]},{"id":"5753fcb2.2b19f4","type":"connect","z":"2c5cd90c.dcb196","itemsense":"","name":"","x":300,"y":140,"wires":[["e98e2df9.2b808"],[]]},{"id":"c0f4c54.b92ef38","type":"create-object","z":"2c5cd90c.dcb196","name":"","objectType":"recipes","x":620,"y":320,"wires":[["762fb8de.0b4118"],[]]},{"id":"4d999b32.d4f4a4","type":"http response","z":"dc45a57b.c00e88","name":"","x":370,"y":40,"wires":[]},{"id":"aa1d39bd.223658","type":"debug","z":"dc45a57b.c00e88","name":"","active":true,"console":"false","complete":"true","x":360,"y":160,"wires":[]},{"id":"762fb8de.0b4118","type":"subflow:dc45a57b.c00e88","z":"2c5cd90c.dcb196","x":810,"y":160,"wires":[]},{"id":"ea94de24.f08dc","type":"catch","z":"2c5cd90c.dcb196","name":"","scope":null,"x":640,"y":100,"wires":[["762fb8de.0b4118"]]},{"id":"254c74b2.b58dac","type":"http in","z":"2c5cd90c.dcb196","name":"","url":"/update","method":"get","swaggerDoc":"","x":130,"y":220,"wires":[["5753fcb2.2b19f4"]]},{"id":"24dbc3e4.cbfbcc","type":"inject","z":"77daac7b.e6cf84","name":"Facility: Arlington","topic":"","payload":"{\"facility\":\"Arlington\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":40,"wires":[["b64b29f7.d34828"]]},{"id":"b64b29f7.d34828","type":"connect","z":"77daac7b.e6cf84","itemsense":"","name":"","x":360,"y":140,"wires":[["a6f7e06.5463c2"],[]]},{"id":"cdd83eb7.6028","type":"catch","z":"77daac7b.e6cf84","name":"","scope":null,"x":620,"y":60,"wires":[["13d13a47.c94966"]]},{"id":"13d13a47.c94966","type":"subflow:dc45a57b.c00e88","z":"77daac7b.e6cf84","x":790,"y":140,"wires":[]},{"id":"ee6bf814.ab40e8","type":"http in","z":"77daac7b.e6cf84","name":"","url":"/curzone","method":"post","swaggerDoc":"","x":110,"y":240,"wires":[["b64b29f7.d34828"]]},{"id":"a842ba.7317ad48","type":"inject","z":"d6c84b85.c86278","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":80,"wires":[["e0e1e37.9f63f2"]]},{"id":"e12498c.76adf68","type":"dump-config","z":"d6c84b85.c86278","name":"","dumpMode":"running","x":480,"y":320,"wires":[["e027a7d9.b50f88"],[]]},{"id":"e027a7d9.b50f88","type":"subflow:dc45a57b.c00e88","z":"d6c84b85.c86278","name":"","x":690,"y":220,"wires":[]},{"id":"970e07ed.8c7b18","type":"catch","z":"d6c84b85.c86278","name":"","scope":null,"x":560,"y":120,"wires":[["e027a7d9.b50f88"]]},{"id":"a275359c.fa73e8","type":"http in","z":"d6c84b85.c86278","name":"","url":"/dump","method":"get","swaggerDoc":"","x":100,"y":260,"wires":[["e0e1e37.9f63f2"]]},{"id":"e0e1e37.9f63f2","type":"connect","z":"d6c84b85.c86278","itemsense":"","name":"","x":320,"y":180,"wires":[["e12498c.76adf68"],[]]},{"id":"3b23ab9f.fa4974","type":"inject","z":"9f5c9583.124388","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":60,"wires":[["143524ef.f9aaeb"]]},{"id":"143524ef.f9aaeb","type":"connect","z":"9f5c9583.124388","itemsense":"","name":"","x":280,"y":120,"wires":[["9d18a38.c251a6"],[]]},{"id":"9d18a38.c251a6","type":"filter-jobs","z":"9f5c9583.124388","name":"","jobStatus":"RUNNING","outputMode":"single","x":490,"y":180,"wires":[["365da228.4dca4e"],[]]},{"id":"6b18fb44.df4814","type":"catch","z":"9f5c9583.124388","name":"","scope":null,"x":500,"y":80,"wires":[["365da228.4dca4e"]]},{"id":"365da228.4dca4e","type":"subflow:dc45a57b.c00e88","z":"9f5c9583.124388","x":660,"y":120,"wires":[]},{"id":"b0be4019.0b3b7","type":"http in","z":"9f5c9583.124388","name":"","url":"/filter","method":"get","swaggerDoc":"","x":120,"y":220,"wires":[["143524ef.f9aaeb"]]},{"id":"d5da26e.09d1cd8","type":"inject","z":"fd0aa649.598a28","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":280,"wires":[["41a95fff.5dd5"]]},{"id":"41a95fff.5dd5","type":"connect","z":"fd0aa649.598a28","itemsense":"","name":"","x":280,"y":340,"wires":[["7e6ee11e.35efa"],[]]},{"id":"7e6ee11e.35efa","type":"get-items","z":"fd0aa649.598a28","name":"","epcFilter":"","repeat":"Indefinitely","count":"3","interval":"10","x":500,"y":260,"wires":[["5f50e929.182558"],["e2aea28.a29066"]]},{"id":"42ec743e.27116c","type":"catch","z":"fd0aa649.598a28","name":"","scope":null,"x":520,"y":100,"wires":[["5f50e929.182558"]]},{"id":"b0be1380.d7cdd","type":"websocket in","z":"fd0aa649.598a28","name":"","server":"b958cc9a.c8fcb","client":"","x":110,"y":40,"wires":[["b43050b1.7495f"]]},{"id":"e2aea28.a29066","type":"debug","z":"fd0aa649.598a28","name":"","active":true,"console":"false","complete":"true","x":660,"y":340,"wires":[]},{"id":"a02324c5.300618","type":"inject","z":"fd0aa649.598a28","name":"Stop","topic":"TerminateLoop","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":400,"wires":[["41a95fff.5dd5"]]},{"id":"b4b96444.ad7968","type":"switch","z":"dc45a57b.c00e88","name":"","property":"req","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":200,"y":100,"wires":[["4d999b32.d4f4a4"],["aa1d39bd.223658"]]},{"id":"3fcc1471.a355ac","type":"websocket out","z":"fd0aa649.598a28","name":"","server":"b958cc9a.c8fcb","client":"","x":870,"y":80,"wires":[]},{"id":"5f50e929.182558","type":"switch","z":"fd0aa649.598a28","name":"","property":"_session","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":690,"y":160,"wires":[["3fcc1471.a355ac"],["e47f6e1e.0e927"]]},{"id":"e47f6e1e.0e927","type":"debug","z":"fd0aa649.598a28","name":"","active":true,"console":"true","complete":"true","x":830,"y":220,"wires":[]},{"id":"b43050b1.7495f","type":"function","z":"fd0aa649.598a28","name":"Stop Loop?","func":"if (msg.payload === \"stop\"){\n    msg.topic = \"TerminateLoop\";\n    return [msg,null];\n}\nreturn [null,msg];\n","outputs":"2","noerr":0,"x":210,"y":140,"wires":[["7e6ee11e.35efa"],["41a95fff.5dd5"]]},{"id":"d9e3a674.d56838","type":"inject","z":"98116a44.1f0c78","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":100,"wires":[["896dee9b.8ff22"]]},{"id":"896dee9b.8ff22","type":"connect","z":"98116a44.1f0c78","itemsense":"","name":"","x":320,"y":200,"wires":[["f2caa669.7797c8"],[]]},{"id":"f2caa669.7797c8","type":"get-object","z":"98116a44.1f0c78","name":"","objectType":"users","outputMode":"single","x":540,"y":280,"wires":[["ba9d41e0.1f02f"],[]]},{"id":"f974a2ae.afe44","type":"catch","z":"98116a44.1f0c78","name":"","scope":null,"x":560,"y":160,"wires":[["ba9d41e0.1f02f"]]},{"id":"ba9d41e0.1f02f","type":"subflow:dc45a57b.c00e88","z":"98116a44.1f0c78","x":740,"y":220,"wires":[]},{"id":"55a78bb3.9219f4","type":"http in","z":"98116a44.1f0c78","name":"","url":"/get","method":"get","swaggerDoc":"","x":150,"y":300,"wires":[["896dee9b.8ff22"]]},{"id":"8e8cd136.11741","type":"inject","z":"c44f3f3a.50a9b","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":160,"wires":[["9e406ce4.d685d"]]},{"id":"9e406ce4.d685d","type":"connect","z":"c44f3f3a.50a9b","itemsense":"","name":"","x":340,"y":220,"wires":[["b69ce344.78d9d"],[]]},{"id":"b69ce344.78d9d","type":"item-history","z":"c44f3f3a.50a9b","name":"","epcFilter":"","repeat":"None","count":"3","interval":"10","x":560,"y":280,"wires":[["88acf96e.eb90f8"],[]]},{"id":"88acf96e.eb90f8","type":"subflow:dc45a57b.c00e88","z":"c44f3f3a.50a9b","x":700,"y":200,"wires":[]},{"id":"31332cf3.5edcc4","type":"catch","z":"c44f3f3a.50a9b","name":"","scope":null,"x":540,"y":120,"wires":[["88acf96e.eb90f8"]]},{"id":"733d57dd.188388","type":"websocket out","z":"80b8b70.fee3348","name":"","server":"fe3c91c1.e3249","client":"","x":790,"y":280,"wires":[]},{"id":"c8eabcd0.0a281","type":"connect","z":"80b8b70.fee3348","itemsense":"","name":"","x":360,"y":300,"wires":[["ef9c2f7e.bda3c"],[]]},{"id":"5c34bee6.514d8","type":"websocket in","z":"80b8b70.fee3348","name":"","server":"fe3c91c1.e3249","client":"","x":110,"y":60,"wires":[["ed660b3b.820f78"]]},{"id":"ef9c2f7e.bda3c","type":"queue-client","z":"80b8b70.fee3348","name":"","fromZone":"","toZone":"","epc":"","x":560,"y":160,"wires":[["16f7e6b.ae27e19"],["733d57dd.188388"],[]]},{"id":"1bab561c.3c34aa","type":"run-job","z":"80b8b70.fee3348","name":"","itemsense":"","recipe":"RTLS_Locate_Test","runLength":"3000","startDelay":"PT0S","facility":"DEFAULT","x":1200,"y":240,"wires":[["2b1cc142.cd87ce"],[],[]]},{"id":"eace6375.02cae","type":"inject","z":"38e6af12.001dc","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210,"y":200,"wires":[["be015e50.94311"]]},{"id":"be015e50.94311","type":"connect","z":"38e6af12.001dc","itemsense":"","name":"","x":400,"y":260,"wires":[["cbf65ad.01171a8"],[]]},{"id":"95acf7ff.bed568","type":"stop-job","z":"38e6af12.001dc","name":"","x":720,"y":360,"wires":[["82ae64c4.672678"],[]]},{"id":"82ae64c4.672678","type":"wait-status","z":"38e6af12.001dc","name":"","jobStatus":"STOPPED","timeout":10,"interval":1,"x":720,"y":480,"wires":[["cbf65ad.01171a8"],[]]},{"id":"e98e2df9.2b808","type":"function","z":"2c5cd90c.dcb196","name":"Sample Recipe","func":"msg.payload={\n    \"name\": \"Arlington_Copy\",\n    \"readerConfigurationName\": \"IMPINJ_LocationConfig_2\",\n    \"readerConfigurations\": {},\n    \"presencePipelineEnabled\": false,\n    \"locationReportingEnabled\": true,\n    \"zoneModel\": \"GEOGRAPHIC\",\n    \"minimumMovementInMeters\": 1, \n    \"locationUpdateIntervalInSeconds\": 5,\n    \"historyWindowSizeInCycles\": null,\n    \"computeWindowSizeInCycles\": null, \n    \"computeWindowTimeInSeconds\": 20, \n    \"locationAggegationModel\": \"BY_TIME\"   \n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["c0f4c54.b92ef38"]]},{"id":"ed660b3b.820f78","type":"function","z":"80b8b70.fee3348","name":"Stop Queue?","func":"if(msg.payload === \"stop\"){\n    msg.topic = \"CloseConnection\";\n    return [msg,null];\n}\nreturn [null,msg];","outputs":"2","noerr":0,"x":290,"y":140,"wires":[["ef9c2f7e.bda3c"],["c8eabcd0.0a281"]]},{"id":"16f7e6b.ae27e19","type":"filter-jobs","z":"80b8b70.fee3348","name":"","jobStatus":"RUNNING","outputMode":"array","x":780,"y":160,"wires":[["705f142d.0ae0bc"],[]]},{"id":"705f142d.0ae0bc","type":"function","z":"80b8b70.fee3348","name":"No Running Job?","func":"if(!msg.payload.length)\n    return msg;","outputs":1,"noerr":0,"x":970,"y":200,"wires":[["1bab561c.3c34aa"]]},{"id":"25498756.6b32c8","type":"http in","z":"c44f3f3a.50a9b","name":"","url":"/history","method":"get","swaggerDoc":"","x":120,"y":320,"wires":[["9e406ce4.d685d"]]},{"id":"a6f7e06.5463c2","type":"current-zone","z":"77daac7b.e6cf84","name":"","zoneAction":"Get","x":580,"y":220,"wires":[["13d13a47.c94966"],[]]},{"id":"cbf65ad.01171a8","type":"run-job","z":"38e6af12.001dc","name":"","itemsense":"","recipe":"Arlington_Location","runLength":"3000","startDelay":"PT0S","facility":"Arlington","x":720,"y":240,"wires":[["9ba496.92fb2b68"],["95acf7ff.bed568"],[]]},{"id":"9ba496.92fb2b68","type":"wait-status","z":"38e6af12.001dc","name":"","jobStatus":"RUNNING","timeout":10,"interval":1,"x":960,"y":160,"wires":[["1d2850fe.8c067f"],[]]},{"id":"1d2850fe.8c067f","type":"subflow:dc45a57b.c00e88","z":"38e6af12.001dc","x":1170,"y":220,"wires":[]},{"id":"56c4f0d2.fddff","type":"catch","z":"38e6af12.001dc","name":"","scope":null,"x":980,"y":280,"wires":[["1d2850fe.8c067f"]]},{"id":"cd847f2d.fe51f","type":"http in","z":"38e6af12.001dc","name":"","url":"/runjob","method":"get","swaggerDoc":"","x":210,"y":380,"wires":[["be015e50.94311"]]},{"id":"90b52ec4.2452d","type":"inject","z":"a1b64e22.3807f","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":100,"wires":[["4dacdb36.7069f4"]]},{"id":"4dacdb36.7069f4","type":"connect","z":"a1b64e22.3807f","itemsense":"","name":"","x":280,"y":160,"wires":[["313097c1.0c62c8"],[]]},{"id":"5bb6e5f7.8b867c","type":"create-object","z":"a1b64e22.3807f","name":"","objectType":"recipes","x":580,"y":300,"wires":[["a7ec1ee7.8c19d"],["19c2f54f.789deb"]]},{"id":"a7ec1ee7.8c19d","type":"delete-object","z":"a1b64e22.3807f","name":"","objectType":"recipes","x":780,"y":200,"wires":[["47a0e6f5.3abfd8"],[]]},{"id":"47a0e6f5.3abfd8","type":"subflow:dc45a57b.c00e88","z":"a1b64e22.3807f","x":990,"y":140,"wires":[]},{"id":"dd8e40a.f8b03c","type":"catch","z":"a1b64e22.3807f","name":"","scope":null,"x":780,"y":100,"wires":[["47a0e6f5.3abfd8"]]},{"id":"313097c1.0c62c8","type":"function","z":"a1b64e22.3807f","name":"Sample Recipe","func":"msg.payload={\n    \"name\": \"Arlington_Sample\",\n    \"readerConfigurationName\": \"IMPINJ_LocationConfig_2\",\n    \"readerConfigurations\": {},\n    \"presencePipelineEnabled\": false,\n    \"locationReportingEnabled\": true,\n    \"zoneModel\": \"GEOGRAPHIC\",\n    \"minimumMovementInMeters\": 1, \n    \"locationUpdateIntervalInSeconds\": 5,\n    \"historyWindowSizeInCycles\": null,\n    \"computeWindowSizeInCycles\": null, \n    \"computeWindowTimeInSeconds\": 20, \n    \"locationAggegationModel\": \"BY_TIME\"   \n};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["5bb6e5f7.8b867c"]]},{"id":"19c2f54f.789deb","type":"debug","z":"a1b64e22.3807f","name":"","active":true,"console":"false","complete":"true","x":750,"y":360,"wires":[]},{"id":"c76c750d.559808","type":"http in","z":"a1b64e22.3807f","name":"","url":"/delete","method":"get","swaggerDoc":"","x":100,"y":320,"wires":[["4dacdb36.7069f4"]]},{"id":"2b1cc142.cd87ce","type":"debug","z":"80b8b70.fee3348","name":"","active":true,"console":"false","complete":"true","x":1370,"y":160,"wires":[]}]