samples/dump-config.flow.json
[
  {
    "type": "tab",
    "id": "8c8d4b6f.9f26f8",
    "label": "Dump Configuration"
  },
  {
    "id": "f8d2a00b.71cbd",
    "type": "inject",
    "z": "8c8d4b6f.9f26f8",
    "name": "Start",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 120,
    "wires": [
      [
        "9b144be4.0aadf8"
      ]
    ]
  },
  {
    "id": "9b144be4.0aadf8",
    "type": "connect",
    "z": "8c8d4b6f.9f26f8",
    "itemsense": "",
    "name": "",
    "x": 360,
    "y": 180,
    "wires": [
      [
        "4aecf09a.424a1"
      ],
      []
    ]
  },
  {
    "id": "4aecf09a.424a1",
    "type": "dump-config",
    "z": "8c8d4b6f.9f26f8",
    "name": "",
    "dumpMode": "instance",
    "x": 580,
    "y": 260,
    "wires": [
      [
        "61b49fb1.8cb75",
        "8b07a4aa.542b88"
      ],
      [
        "8b07a4aa.542b88",
        "61b49fb1.8cb75"
      ]
    ]
  },
  {
    "id": "61b49fb1.8cb75",
    "type": "debug",
    "z": "8c8d4b6f.9f26f8",
    "name": "log output",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 890,
    "y": 200,
    "wires": []
  },
  {
    "id": "519d5245.3ce3ac",
    "type": "http in",
    "z": "8c8d4b6f.9f26f8",
    "name": "",
    "url": "/dump",
    "method": "get",
    "swaggerDoc": "",
    "x": 160,
    "y": 480,
    "wires": [
      [
        "917f7a2c.089618"
      ]
    ]
  },
  {
    "id": "ec7480.50b3fb8",
    "type": "http response",
    "z": "8c8d4b6f.9f26f8",
    "name": "Return Http Response",
    "x": 1080,
    "y": 280,
    "wires": []
  },
  {
    "id": "8b07a4aa.542b88",
    "type": "function",
    "z": "8c8d4b6f.9f26f8",
    "name": "Build Response",
    "func": "if(msg.req)\n    return msg;\nif(msg.topic !== \"failure\")\n    return;\nvar http = flow.get(\"http\");\nif(!http)\n    return;\nhttp.statusCode = msg.payload.statusCode;    \nhttp.payload =msg.payload;\nreturn http;",
    "outputs": 1,
    "noerr": 0,
    "x": 860,
    "y": 360,
    "wires": [
      [
        "ec7480.50b3fb8"
      ]
    ]
  },
  {
    "id": "917f7a2c.089618",
    "type": "function",
    "z": "8c8d4b6f.9f26f8",
    "name": "Stash Http message",
    "func": "flow.set(\"http\",msg);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 200,
    "y": 320,
    "wires": [
      [
        "9b144be4.0aadf8"
      ]
    ]
  },
  {
    "id": "f4cd3826.778e68",
    "type": "comment",
    "z": "8c8d4b6f.9f26f8",
    "name": "How to Run",
    "info": "<h3>Dumps the configuration of an Itemsene Instance or running job</h3>configure the **Connect** node to point to your ItemSense Instance, then deploy the flow and either click the button next to **Start** node or call the /dump endpoint on your Node-RED installation.\nyou can change the configuration of the **Dump Configuration** node to dump the whole instance configuration or just the objects related to the running job.",
    "x": 160,
    "y": 40,
    "wires": []
  }
]