samples/simple-get-items.json
[
  {
    "type": "tab",
    "id": "fb8e543e.02cdc8",
    "label": "Simple Get Items"
  },
  {
    "id": "1511b30c.239b8d",
    "type": "inject",
    "z": "fb8e543e.02cdc8",
    "name": "Start",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 80,
    "wires": [
      [
        "5de51dff.d8b6d4"
      ]
    ]
  },
  {
    "id": "5de51dff.d8b6d4",
    "type": "connect",
    "z": "fb8e543e.02cdc8",
    "itemsense": "",
    "name": "",
    "x": 320,
    "y": 140,
    "wires": [
      [
        "1375396.c4649c7"
      ],
      []
    ]
  },
  {
    "id": "1375396.c4649c7",
    "type": "get-items",
    "z": "fb8e543e.02cdc8",
    "name": "",
    "epcFilter": "",
    "repeat": "None",
    "count": 0,
    "interval": 1,
    "x": 600,
    "y": 200,
    "wires": [
      [
        "a2edf422.25e6a8"
      ],
      [
        "dddd8d0e.d7201"
      ],
      [
        "6a9fc331.a4386c"
      ]
    ]
  },
  {
    "id": "a2edf422.25e6a8",
    "type": "debug",
    "z": "fb8e543e.02cdc8",
    "name": "Log output",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 940,
    "y": 140,
    "wires": []
  },
  {
    "id": "dddd8d0e.d7201",
    "type": "debug",
    "z": "fb8e543e.02cdc8",
    "name": "Log Progress",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 200,
    "wires": []
  },
  {
    "id": "6a9fc331.a4386c",
    "type": "debug",
    "z": "fb8e543e.02cdc8",
    "name": "Log Debug",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 930,
    "y": 260,
    "wires": []
  },
  {
    "id": "43baf772.976748",
    "type": "comment",
    "z": "fb8e543e.02cdc8",
    "name": "How to Run",
    "info": "## Retrieves Items from an Itemsense Instance\n\n* Configure the **Connect** node to point to your instance of Itemsense\n* Press the **Start** button, watch the debug window.\n\n## Possible enhancements\n* you can change the repeat option of the **Get Items** node to retrieve items more than once.\n* you can add an **http** node to allow for the items to be retrieved using an Http call, but only if the getItems is not repeating or if you add extra logic, because only one response can be sent back to the caller.\n* you can use the **Websocket** node to allow for multiple responses to be sent to the caller if you have getItems repeating the operation.\n",
    "x": 120,
    "y": 40,
    "wires": []
  }
]