node-red-backup/.flows_RALEMY-1134.local.json.backup
[{"type":"tab","id":"ea132406.873248","label":"Flow 1"},{"id":"557650f0.993f9","type":"itemsense-instance","z":"","url":"http://sandbox.solutions.impinj.com/itemsense","user":"admin","password":"admindefault"},{"id":"f0a9f4e7.487658","type":"inject","z":"ea132406.873248","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108.5,"y":86,"wires":[["79b1feb.a322a"]]},{"id":"79b1feb.a322a","type":"connect","z":"ea132406.873248","itemsense":"557650f0.993f9","name":"","x":258.5,"y":130,"wires":[["a88add24.f0e1f"],[]]},{"id":"a88add24.f0e1f","type":"get-object","z":"ea132406.873248","name":"","objectType":"recipes","outputMode":"array","x":449.5,"y":168,"wires":[["724bf206.bb05cc"],[]]},{"id":"724bf206.bb05cc","type":"debug","z":"ea132406.873248","name":"","active":true,"console":"false","complete":"true","x":578.5,"y":223,"wires":[]}]